*,
*::after,
*::bafore{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.board{
    width: 100rem;
    height: 100rem;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
.cell{
    width: 180px;
    height: 180px;
    background-color: black;
    border: 2px solid red;
    border-style: outset;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
