body {
    font-family:"Roboto", Arial, sans-serif;
    margin:0 auto;
    text-align:center;
    margin-top:60px;
    color:#FFF;
    background:#333;
}

h1 {
 font-weight:normal;
 }

.turn {
     margin-bottom:10px;
 }
table {
 border-collapse:collapse;
 width:300px;
 margin:0 auto;
}
      td {
        width:60px;
        height:80px;
        border:1px solid #555;
        cursor:pointer;
      }
        :before {
          font-size:1.5em;
          line-height:1;
        }
        .cross:before {
          content:"x";
          color:lightblue;
        }
        .circle:before {
          content:"o";
          color:pink;
        }
      
    
    .reset {
      background:#555;
      border:10px solid #333;
      padding:20px 25px;
      color:#FFF;
      cursor:pointer;
      font-family:"Roboto", Arial, sans-serif;
      text-transform:uppercase;
      border-radius: 50%;
    }
      .reset:hover {
        opacity:0.8;
      }
    
  





.winning{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0, .9);
    display: flex;
    justify-content: center;
    align-items: center;
    color: seashell;
    font-size: 5rem;
    flex-direction: column;
    display: none;
}

.winning button{
    font-size: 3rem;
    background-color: red;
    border: 1px solid red;
    padding: .25em .5em;
    cursor: pointer;
    border-radius: 50%;


}

.winning button:hover{
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 50%;
}

.winning.show{
    display: flex;
}