body{
    background: #323232;
    }
    
    #game-wrap{
        width: 450px;
        height: 455px;
        margin: 0 auto;
        background: gray;
        margin-top: 50px;
        border-left: 5px solid gray;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    